.layout{
    margin-block-start: 20px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    flex-grow: 1;
}

.layout div{
    width: 70px;
    height: 70px;
    background-color: #ffb703;
}

.code{
    margin-block-start: 20px;
    max-width: 300px;
    padding: 12px 16px 18px 16px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: 3px solid var(--black, #1B1B1B);
    background: var(--white, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.16);
}

.flex__group{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}