.blog__box{
	display: flex;
    gap: 30px;
	flex-wrap: wrap;
}

.form__direaction fieldset{
    border: none;
}

.form__group{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.legend{
    color: #1B1B1B;
    font-size: 20px;
}

.select{
    display: flex;
    justify-content: space-between;
    color: #1B1B1B;
    font-size: 20px;
    background-color: transparent;
    border: none;
}

.blog__content{
    min-height: 700px;
	flex-basis: 0;
	flex-grow: 999;
	min-inline-size: 50%;
}
.input__wrapper{
    border-bottom: 2px solid var(--black, #1B1B1B);
}

.blog__wrapper{
	display: flex;
    align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
}

.blog__sidebar{
    padding: 20px;
    border-radius: 8px;
    background: var(--gray-1, #EEE);
	flex-basis: 470px;
	flex-grow: 1;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}

.blocks__box{
    width: 700px ;
    height: 100%;
    padding: 16px;
    border-radius: 16px;
    border: 3px solid var(--black, #1B1B1B);
    background: #FFF;
    display: flex;
    gap: 16px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}

.little__block{
    display: grid;
    place-items: center;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: #e5e5f7;
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg, #4b4c52 0, #4b4c52 1px, #e5e5f7 0, #e5e5f7 50%);
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.form__flexTitle{
    color: var(--black, #1B1B1B);
    font-family: Patrick Hand;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
}

.number{
    color:  #e63946;
    text-align: center;
    font-family: Patrick Hand;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.24px;
}

.form__block{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.label__box{
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #ffffff;
}

.input__number{
    background-color: transparent;
    border: none;
    width: max-content;
}

.code__box{
    padding: 18px 18px 22px 20px;
    border-radius: 8px;
    border: 4px solid var(--accent-caribbean-green, #37D4AD);
    background: #E9FFF8;
    box-shadow: 0px 4px 0px 0px rgba(51, 51, 51, 0.16);
}

.code__box code{
    color: var(--black, #1B1B1B);
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.14px;
}

.code__ImageBox{
    transform: rotate(-180deg);
}

.wrapper__code{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}