.flex__box{
    margin-block-start: 40px;
}
.grid__title{
    font: 700 1.5rem 'Oswald', sans-serif;
    text-align: center;
    text-transform: uppercase;
    padding: 12px 0;
    display: block;
}

.title__box{
    margin-block-end: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    border-top: 3px solid #333333;
    border-bottom: 3px solid #333333;
}

